@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: hsl(210, 12%, 94%);*/
    font-family: 'Rubik', sans-serif;
}

#project-detail {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}