@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#body {
  position: absolute;
  z-index: 1;
  top: 0;

  min-width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.5) !important;
}

#background_video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}